.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1.5rem;
  text-align: left;

  margin-left: 30%;
  margin-right: 20%;
}

.hover\:text-primary:hover {
  color: #3b82f6;
}

.github-link {
  color: inherit;
  text-decoration: none;
}

.github-link:hover {
  color: #2563eb;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: #3b82f6;
}

.boca-juniors {
  color: inherit;
}

.boca-juniors:hover {
  background-image: linear-gradient(
    to right,
    #3b82f6 0%,
    #3b82f6 33%,
    #ffc400 33%,
    #ffc400 66%,
    #3b82f6 66%,
    #3b82f6 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
